.App {
  text-align: center;
}

nav {
  background: rgb(73, 79, 82);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.navStyle {
  color: white;
}
